
<div class="text-center">
<h1>About this place <%= place.name %></h1>

<div class="container">
	<div class="row">
		<table class="table">
		  <thead class="thead-default">
		    <tr>
		      <th class="th">Address</th>
					<th class="th">Phone</th>
					<th class="th">Hours</th>
		    </tr>
			</thead>
			<tbody>
				<tr>
					<td><%= place.address %>, city - <%= place.city %>, state - <%= place.state %> </td>
					<td><%= place.phone %></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
	<p>
		<h3><%= place.name %>'s reviews: </h3>
			<% reviews.forEach(function(review){ %>
			<p>
				Rating: <%= review.rating %> by <%=review.user_id.local.name%>
			</p>
			<p>
				Posted on: <%= review.postDate %>
			</p>
			<p>
				Comments: <%= review.comments %>
			</p>
			<% }) %>
	</p>

		<a href="/places/<%= place.name%>/newReview">Add a new review</a>
	</p>
</div>
